force-app/main/default/flows/SYS_SMS_Activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Create Log to Make Callout to Plivo Send SMS API</description>
        <name>Log_to_Make_Callout_Plivo_Send_SMS</name>
        <label>Log to Make Callout Plivo Send SMS</label>
        <locationX>860</locationX>
        <locationY>226</locationY>
        <actionName>SYS_InvocableHandler</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__newVal</typeName>
            <typeValue>Activity__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__oldVal</typeName>
            <typeValue>Activity__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>integrationSetting</name>
            <value>
                <stringValue>Plivo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectSetting</name>
            <value>
                <stringValue>PlivoSMS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>oldVal</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>operationType</name>
            <value>
                <stringValue>INSERT</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Check_If_Message_is_Empty_or_Not</name>
        <label>Check If Message is Empty or Not?</label>
        <locationX>505</locationX>
        <locationY>94</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Outbound_SMS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Message__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Queued</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.UUID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Log_to_Make_Callout_Plivo_Send_SMS</targetReference>
            </connector>
            <label>New Outbound SMS</label>
        </rules>
    </decisions>
    <description>Flow to log Callout to Plivo Send SMS</description>
    <interviewLabel>SYS SMS Activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SYS SMS Activity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_If_Message_is_Empty_or_Not</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sms</stringValue>
            </value>
        </filters>
        <filters>
            <field>Phone__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Activity__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
